@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @import '../../Components//blogs/Blogs.css';
@import '../../Components/Contact//Contact.css';
@import '../../Components/Home//Home.css';
@import '../../Components/Portfolios/Portfolios.css';
@import '../../Components/Home/Home.css';
@import 'Progress.css'; */

/* BACKGROUND TRIANGLE START */
.triangle-style h2 {
    color: #fff;
    display: inline;
    font-size: 50px;
    font-weight: 700;
    position: relative;
    z-index: 9;

}

.triangle-style h2::after {
    background-color: #17b978;
    background-color: #17b978;
    border-radius: 0;
    bottom: 50px;
    -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    content: "";
    height: 75px;
    left: -10px;
    position: absolute;
    width: 100px;
    z-index: -1;
}

@media (max-width:500px) {
    .triangle-style h2::after {
        left: -10px;
    }
}

/* BACKGROUND TRIANGLE START */

/* COMMON STYLE START */
body {
    width: 100%;
    height: 100%;
    background-color: #040b1a
}

.section-body {
    padding-left: 280px;
    min-height: 100vh;
    color: #f1f1f1;
    background-color: #040b1a;
}

.section-items {
    padding: 20px 30px;
    margin: auto 0;
}

.title-underline {
    border-bottom: 5px solid #4bffa5;
}

.title {
    font-size: 45px;
    font-weight: 700;
    padding: 15px 0px;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0px;
}

h3 {
    font-size: 25px;
    font-weight: 600;
}

h6 {
    font-size: 20px;
    font-weight: 700;
}

p {
    font-size: 16.5px;
    font-weight: 500;
    line-height: 25px;
}

@media (max-width:950px) {
    p {
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
    }
}


.star-icons {
    display: flex;
}

.star-icons .icon {
    color: orange;
    font-size: 25px;
}

/* COMMON STYLE EMD */

/* SOCIAL MEDIA ICON START */
.social-media-icon {
    font-size: 30px;
}

.social-media-icon .icon {
    margin: 0px 8px;
}

.social-media-icon .icon1 {
    color: #1877F2;
    font-size: 30px;
}

.social-media-icon .icon2 {
    color: #0A66C2;
}

.social-media-icon .icon3 {
    color: #1DA1F2;
    font-size: 35px;
}

.social-media-icon .icon4 {
    color: #6c6b6be9;
    font-size: 30px;
}

/* SOCIAL MEDIA ICON EMD */

/* BUTTON EMD */
.button {
    padding: 20px 0px;

}

.button a {
    list-style: none;
    text-decoration: none;
    border: 2px solid #4bffa5;
    padding: 8px 30px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
}

.button a:hover {
    color: #4bffa5;
    border: 2px solid white;
}

/* BUTTON EMD */



#check {
    display: none;
}

label {
    display: none;
}

.comment-section h5 {
    border: 2px solid gray;
}

/* NAVBAR STYLE SECTION START */

.nav-section {
    background: #061331e5;
    min-height: 100vh;
    position: fixed;
    transition: all .5s ease;
    width: 280px;
    z-index: 1111;
}

.img-section img {
    width: 160px;
    height: 160px;
    margin: 40px 60px 40px 60px;
    border-radius: 50% 50%;
    border: 8px solid #24cb77;
}

.nav-social-media-div {
    margin: 0px 42px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.navbar-intro {
    border-bottom: 3px solid #1a212d;
    border-top: 3px solid #1a212d;
}

.navbar-intro ul {
    padding: 10px 8px !important;
}

.navbar-intro ul li .active {
    color: #24cb77;
    width: 100%;
    border-radius: 1px;
    transition: 0.5s ease;
}

.navbar-intro ul li a {
    color: #fff;
    display: block;
    font-size: 17px;
    font-weight: 600;
    padding: 15px 30px;
    box-sizing: border-box;
    transition: .3s ease;
    text-decoration: none;
    list-style: none;
}

.navbar-intro ul li a:hover {
    padding-left: 50px;
    background: #4bffa5;
    color: #fff;
}

.navbar-intro .icon {
    font-size: 22px;
    margin-right: 5px;
}

.nav-footer {
    box-sizing: border-box;

}

.nav-footer p {
    color: #fff;
    margin-top: 0px;
    text-align: center;
    margin-top: 10px;
}

/* NAVBAR STYLE SECTION END */



/* ABOUT STYLE SECTION START */
.about-info h6 {
    border-bottom: 4px solid #4bffa5;
    padding: 8px 0px;
}

.box .row img {
    width: 60px;
}

/* ABOUTS STYLE SECTION END */


/* PORTFOLIO STYLE SECTION END */

.circular-items {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}

.circular-items .item {
    width: 140px;
    height: 140px;
    padding: 20px;
    text-align: center;
}

.item .icon {
    color: #f1f1f1;
}

.circular-items .item h4 {
    font-weight: bolder;
    font-size: 16px;
}

/* PORTFOLIO STYLE SECTION END */

/* BLOG STYLE SECTION END */


/* BLOG STYLE SECTION END */




/* ERROR STYLE SECTION END */
.error-body {
    padding-left: 280px;
    min-height: 100vh;
}

.error-items {
    background: url('../Image/error.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: auto 0;
}

.error-button {
    text-align: center;
    margin-top: 45%;
}

/* ERROR STYLE SECTION END */