.address-section .item h5{
    margin: 20px 0px;
    padding: 2px 0px;
}


.form-div{

}

.email-section input,textarea{
    width: 100%;
    padding: 3px 5px;
    font-size: 18px;
    margin: 7px 0px;
    color: #fff;
    background-color:#040b1a;
    border: 0.5px solid gray;
}

.name-email{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.address-section .icon{
    color: #4bffa5;
    margin-right: 10px;
    font-size: 25px;
}
@media (max-width: 768px) {
    .name-email {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }
}