.review-slider{
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.swiper {
  width: 240px;
  height: 350px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: black;
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}



.review-user .row{
  margin: -10px;
}
.review-user .user-img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto auto;
}

.user-img img{
  width: 100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}

.user-star .icon{
  color: orange;
  font-size: 25px;
}

.user-comment{
  font-size: 16px;
  margin-top: -15px;
}

@media (max-width:912px){
  .user-comment{
    font-size: 8px;
  }
}