
#check {
    display: none;
}
label{
    display: none;
}
.comment-section h5{
    border: 2px solid gray;
}

/* NAVBAR STYLE SECTION START */

.nav-section{
    background: rgba(13, 9, 9, 0.892);
    min-height: 100vh;
    position: fixed;
    transition: all .5s ease;
}
.img-section img{
    width: 180px;
    height: 180px;
    margin: 40px 60px 30px 60px;
    border-radius: 50%;
    border: 8px solid rgba(11, 223, 28, 0.873);
}
.navbar-intro{
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}
.navbar-intro ul{
    padding: 20px 8px!important;
}
.navbar-intro ul li a{
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 50px;
    box-sizing: border-box;
    transition: .3s ;
    text-decoration: none;
    list-style: none;
}
.navbar-intro ul li a:hover{
    padding-left: 50px;
    background: rgba(11, 223, 28, 0.873);
    color: #fff;
}
.nav-footer{
    box-sizing: border-box;
}
.nav-footer p{
    color: #fff;
    margin-top: 15px;
    text-align: center;
}

/* NAVBAR STYLE SECTION END */

/* HOME STYLE SECTION START */

.home-body{
    padding-left: 300px;
    min-height: 100vh;
}
.home-items{
    padding: 100px 50px;
    text-align: center;
    margin: auto 0;
    background: url('../Image/homebgimg5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.text-section{
    color: #fff;
    padding: 15px 0px;
}
.text-section h1{
    padding-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
}
.text-section h1 span{
    color:rgba(11, 223, 28, 0.873) ;
}
.text-section p {
    font-size: 20px;
}
.media-link-section{
    padding: 15px 0px;
}
.incons{
    margin-left: 15px;
    height: 45px;
    width: 45px;
    color:rgba(11, 223, 28, 0.873);
}
.button-section{
    padding: 15px 0px;
}
.button-section button{
    padding: 8px 20px;
    border-radius: 10px;
    background: none;
    border: 3px solid rgba(11, 223, 28, 0.873);
    color: #fff;
}
.download-icon{
    font-size: 25px;
}
.code{
    padding:  20px 0px;
}
.code span{
    background: rgb(57, 53, 53);
    border: none;
    padding: 12px 50px;
    border-radius: 5px;
    color: rgba(11, 223, 28, 0.873);
    font-size: 15px;
    font-weight: 600;
}

/* HOME STYLE SECTION END */

/* ABOUTS STYLE SECTION START */

.about-body{
    padding-left: 300px;
    min-height: 100vh;
    background: rgba(14, 13, 13, 0.892);
    color: white
}
.about-items{
    padding: 100px 50px;
    margin: auto 0;
}
.about-items .row h1{
    padding: 30px 0px;
    font-weight: 700;
}
.about-items .row{
    padding-bottom: 30px;
}
.about-items .row h1 span{
    border-bottom: 6px solid rgba(11, 223, 28, 0.873);
}
.about_left h2{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 10px;
}
.about_left p{
    font-size: 18px;
    font-weight: 400;
}
.parsonal-info h6{
    font-size: 18px;
    border-bottom: 2px solid rgba(11, 223, 28, 0.873);
    padding: 8px 0px;
}
.parsonal-info ul{
    padding-top: 5px;
}
.box .row img{
    width: 50px;
}

/* ABOUTS STYLE SECTION END */

/* RESUME STYLE SECTION START */

.resume-body{
    padding-left: 300px;
    min-height: 100vh;
    background: rgba(14, 13, 13, 0.892);
    color: white;
}
.resume-items{
    padding: 100px 40px;
    margin: auto 0;
}
.education h3{
    padding: 10px 0px;
}
.education-icon{
    font-size: 60px;
    color: rgba(11, 223, 28, 0.873);
}
.experince h3{
    padding: 10px 0px;
}
.experince-icon{
    font-size: 60px;
    color: rgba(11, 223, 28, 0.873);
}
.skill-section h1 span{
    border-bottom: 6px solid rgba(11, 223, 28, 0.873);
}
.circular-items{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}
.circular-items .item{
    width:140px;
    height: 140px;
    padding: 20px;
    text-align: center;
}
.item .icon{
    color: rgba(11, 223, 28, 0.873);
}
.circular-items .item h4{
    font-weight: bolder;
    font-size: 20px;
}

/* RESUME STYLE SECTION END */

/* PORTFOLIO STYLE SECTION END */

.portfolio-body{
    padding-left: 300px;
    min-height: 100vh;
    background: rgba(14, 13, 13, 0.892);
    color: white;
}
.portfolio-items{
    padding: 100px 50px;
    margin: auto 0;
}
.portfolio-item figure img{
    width: 100%;
    border-radius: 15px ;
    height: 250px;
}
.portfolio-item .botton{
    padding: 20px 0px;

}
.portfolio-item .botton a{
    list-style: none;
    text-decoration: none;
    border: 2px solid rgba(11, 223, 28, 0.873);
    padding: 8px 30px;
    font-size: 20px;
    border-radius: 10px;
    color:white;
}
.portfolio-item .botton a:hover{
    color:rgba(11, 223, 28, 0.873) ;
    border: 2px solid white;
}
/* PORTFOLIO STYLE SECTION END */

/* BLOG STYLE SECTION END */

.blog-body{
    padding-left: 300px;
    min-height: 100vh;
    background: rgba(14, 13, 13, 0.892);
    color: white;
    
}
.blog-items{
    padding: 100px 40px;
    margin: auto 0;

}
.blogs-item{
    padding: 10px 30px;
}
.blogs-item figure img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 250px;
}
.blogs-text-section{
    text-decoration: none;
    list-style: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -15px;
    background: rgba(14, 13, 13, 0.892);
    padding:20px 10px;
}
.blogs-text-section h5 a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.blog-icons {
    text-align: right;
}
.blog-icons span{
    padding: 0px 5px;
}
.blog-icons span .icon{
    font-size: 22px;
}
/* BLOG STYLE SECTION END */

/* CONTACT STYLE SECTION START */
.contact-body{
    padding-left: 300px;
    min-height: 100vh;
    background: rgba(14, 13, 13, 0.892);
    color: white;
}
.contact-items {
    padding: 100px 50px;
}
.contact-items h1{
    font-size: 50px;
    font-weight: 600;
}
.contact-items h1 span{
    border-bottom: 6px solid rgba(11, 223, 28, 0.873);
}
.contact-info,.contact-form{
    padding-top: 30px;
}
.contact-info h2 span,.contact-form h2 span{
    border-bottom: 4px solid green;
}
.address p{
    font-size: 20px;
}
.icons{
    padding: 10px 0px;
}
.icons h5{
    padding: 5px;
}
.socialIcons {
    display: flex;
    gap: 15px;
}
.socialIcons .icon{
    font-size: 35px;
    color:rgba(11, 223, 28, 0.873) ;
}
.formInput{
    padding: 0px 0px 0px ;
}
.single-input{
    background: black;
    color: white;
}
.doubble-input{
    justify-content: center;
    display: flow-root;
}
.doubble-input div input{
    width: 100%;
    margin: 15px 0px;
    box-sizing: border-box;
    background: black;
    color: white;
}
.comment-section h5{
    border: 2px solid gray;
    padding: 5px;
    margin-bottom: -1px;
    border: 2px solid gray;
}
.comment-section textarea{
    background: black;
    color: white;
}
.sumitBtn{
    padding: 8px 50px;
    font-weight: 700;
    border: 2px solid rgba(11, 223, 28, 0.873);
    background: none;
    border-radius: 5px;
    color: white;
}
.sumitBtn:hover{
    color: rgba(11, 223, 28, 0.873);
    border: 2px solid black;
}

/* CONTACK STYLE SECTION END */